<mat-nav-list>
  <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a mat-list-item [routerLink]="['/music']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Music</a>
  <a mat-list-item [routerLink]="['/video-generation']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Video Generation</a>
  <a mat-list-item [routerLink]="['/vocal-sampling']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Vocal Sampling</a>
</mat-nav-list>